<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/includes/</directory>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/includes/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>100</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
	<filter>
		<blacklist>
			<directory suffix=".php">.</directory>
		</blacklist>

		<whitelist>
			<directory suffix=".php">./includes</directory>
			<file>./edit-author-slug.php</file>
		</whitelist>
	</filter>
</phpunit>
